html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}
.map_search_ajax_loader{
    position: absolute; bottom: 7px; left: 70px; z-index: 200;
}
.marker {font-size: 11px;max-width: 400px;}
.marker .businessimage { float: left;}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}